.title5 {
  font-size: 30px;
}

.title3 {
  font-size: 33px;
}

.title2 {
  font-size: 36px;
}

body,
html {
  color: rgba(var(--color-text));
  background-color: rgba(var(--color-page-background));
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-weight: var(--body-font-weight);
  font-size: calc(var(--body-font-size) * 0.75);
  font-family: var(--body-font);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  -webkit-font-smoothing: antialiased;
}

a:not(.button),
a:not(.button):hover {
  color: rgba(var(--color-text));
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  font-weight: var(--title-font-weight, 700);
  font-family: var(--title-font);
  font-style: var(--title-font-style);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
  text-transform: var(--title-text-transform);
  word-break: break-word;
  margin-block: 0;
}

h1,
.title1 {
  font-size: var(--title1-font-size);
}

h2,
.title2 {
  font-size: var(--title2-font-size);
}

h3,
.title3 {
  font-size: var(--title3-font-size);
}

h4,
.title4 {
  font-size: var(--title4-font-size);
}

h5,
.title5 {
  font-size: var(--title5-font-size);
}

h6,
.title6 {
  font-size: var(--title6-font-size);
}

.body-font,
.body1,
.body2,
.body3,
.body4,
.body5,
.body6 {
  font-weight: var(--body-font-weight, 400);
  font-family: var(--body-font);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  word-break: break-word;
}

.body1 {
  font-size: var(--body1-font-size);
}

.body2 {
  font-size: var(--body2-font-size);
}

.body3 {
  font-size: var(--body3-font-size);
}

.body4 {
  font-size: var(--body4-font-size);
}

.body5 {
  font-size: var(--body5-font-size);
}

.body6 {
  font-size: var(--body6-font-size);
}

.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-scheme-1,
.color-scheme-2,
.color-scheme-3 {
  color: rgb(var(--color-text));
  background: rgb(var(--color-page-background));
  background: var(--color-gradient-background);
}
